# Instacart - Data Exploration & Model

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

matplotlib.style.use('ggplot')
%matplotlib inline

In [32]:
class InstacartDataframe:
    def __init__(self):
        aisles_file = 'training/aisles.csv'
        departments_file = 'training/departments.csv'
        order_products_prior_file = 'training/order_products__prior.csv'
        order_products_train_file = 'training/order_products__train.csv'
        orders_file = 'training/orders.csv'
        products_file = 'training/products.csv'

        self.aisles_df = pd.read_csv(aisles_file)
        self.departments_df = pd.read_csv(departments_file)
        self.order_products_prior_df = pd.read_csv(order_products_prior_file)
        self.order_products_train_df = pd.read_csv(order_products_train_file)
        self.orders_df = pd.read_csv(orders_file)
        self.products_df = pd.read_csv(products_file)
        
        self.dict_aisles = {}
        for idx, row in self.aisles_df.iterrows():
            self.dict_aisles[idx] = row.aisle
            
        self.dict_departments = {}
        for idx, row in self.departments_df.iterrows():
            self.dict_departments[idx] = row.department
            
        self.dict_products = {}
        for idx, row in self.products_df.iterrows():
            self.dict_products[idx] = (row.product_name, row.aisle_id, row.department_id)
            
    def get_aisle(idx):
        return self.dict_aisles[idx]
    
    def get_department(idx):
        return self.dict_departments[idx]
    
    def get_product(idx):
        return self.dict_products[idx]

In [33]:
instacart_df = InstacartDataframe()

In [34]:
instacart_df.aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [35]:
instacart_df.departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [36]:
instacart_df.order_products_prior_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [37]:
instacart_df.order_products_train_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [38]:
instacart_df.orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [39]:
instacart_df.products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13